<!DOCTYPE html>
<html>
  <head>
    <title> - Intelligent Ad Server</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <form action="signin" method="post">
      <fieldset class="account-info">
        <label>Email
          <input type="text" name="username" placeholder="name@domain.com" required="">
        </label>
        <label>Password
          <input type="password" name="password" placeholder="password" required="">
        </label>
      </fieldset>
      <fieldset class="account-action">
        <input type="submit" name="submit" value="Sign In" class="btn">
      </fieldset>
    </form>
    <script>
      function validateForm() {
      	var x = document.forms['publishermail'].value;
      	if(x==null || x=='') {
      		alert('Please fill out an email address');
      		return false;
      	}
      }
    </script>
  </body>
</html>